body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 400px;
  margin: 3rem auto;
  color: #333;
  background-color: #eee;
  padding: 1rem 2rem;
  border-radius: .1rem;

  .TodoList {
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;

    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0.5rem 0;
        font-size: 1.1rem;
      }
    }
  }

  .AddNewTodo {
    margin-bottom: 1.5rem;
    input {
      padding: 0.3rem;
      outline: none;
      border: none;
    }
    button {
      cursor: pointer;
      padding: 0.3rem 0.8rem;
      border: none;
      outline: none;
    }

  }

  footer {
    color: #444;
  }
}